@page "/rusuario"
@using ProyectoFinal1.Controllers
@using ProyectoFinal1.Data
@using ProyectoFinal1.Modals

<h1>Registro Usuario</h1>

<EditForm Model="@usuarios" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="container">
        <label for="UsuarioId" class="col-md-2 col-form-label"> UsuarioId</label>
        <input type="number" class="col-md-2 form-check" @bind="usuarios.UsuarioId" />
        <br />

        <button type="button" class="col-md-2 btn btn-info" @onclick="Buscar">Buscar</button>

    </div>
    <div class="container">
        <label for="Usuario" class="col-md-2 col-form-label"> Usuario</label>
        <input type="text" class="form-check col-md-2" @bind="usuarios.Usuario" />
    </div>
    <div class="container">
        <label for="Nombre" class="col-md-2 col-form-label">Nombres</label>
        <input type="text" class="form-check col-md-2" @bind="usuarios.Nombres" />
    </div>
    <div class="container">
        <label for="Clave" class="col-md-2col-form-label">Clave</label>
        <input type="text" class="col-md-2 form-check" @bind="usuarios.Clave" />
    </div>
    <div class="container">
        <label for="FechaCreacion" class="col-md-2 col-form-label"> Fecha</label>
        <input type="datetime" class="col-md-2 form-check" @bind="usuarios.FechaCreacion" />
    </div>
    <div class="container">
        <label for="Email" class="col-md-2 col-form-label"> Email</label>
        <input type="text" class="col-md-2 form-check " @bind="usuarios.Email" />
    </div>
    <br />

    <div class="form-group">
        <button type="submit" class="col-md-2 btn btn-primary">Guardar</button>
        <button type="button" class="col-md-2 btn btn-info" @onclick="Limpiar">Limpiar</button>
        <button type="button" class="col-md-2 btn btn-danger" @onclick="Eliminar">Eliminar</button>
    </div>

    <h3>@Mensaje</h3>
</EditForm>


@code {
    ControllersUsuario controllers = new ControllersUsuario();
    Usuarios usuarios = new Usuarios();
    public string Mensaje;

    private void Guardar()
    {
        if (usuarios.UsuarioId == 0)
        {
            controllers.Guardar(usuarios);
            Mensaje = "Guardo";
            Limpiar();
        }
        else
        {
            if (controllers.Buscar(usuarios.UsuarioId) != null)
            {
                controllers.Modificar(usuarios);
                Mensaje = "Modifico";
                Limpiar();
            }

        }
    }
    private void Limpiar()
    {
        usuarios = new Usuarios();
    }
    private void Eliminar()
    {
        if (usuarios.UsuarioId != 0)
        {
            if (controllers.Buscar(usuarios.UsuarioId) != null)
            {

                controllers.Eliminar(usuarios.UsuarioId);
                Mensaje = "Eliminado";
                Limpiar();

            }
            else
            {
                Mensaje = "Id no existe";
            }

        }
        else
        {
            Mensaje = "Selecione un ID";
        }

    }
    private void Buscar()
    {
        if (usuarios.UsuarioId != 0)
        {
            if (controllers.Buscar(usuarios.UsuarioId) != null)
            {

                usuarios = controllers.Buscar(usuarios.UsuarioId);

            }
            else
            {
                Mensaje = "Id no existe";
            }

        }
        else
        {
            Mensaje = "Selecione un ID";
        }


    }
}
